################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PHASE-01 & 02/VCTWebApp/SUM_COMMON/.vs
/PHASE-01 & 02/VCTWebApp/.vs/VCTWebApp/v15/Server/sqlite3
